.homeMain {
    background-color: $color-dark;
    height: 89.5vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__choice {
        margin-top: 5rem;
        height: 40rem;
        width: 80%;
        display: block;
    }

    &__card {
        width: 100%;
        height: 16rem;
        text-align: center;
        font-size: 1.8rem;
        padding: 2rem;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &--orange {
            background-color: $color-secondary-orange;
        }

        &--blue {
            background-color: $color-secondary-blue;
        }

    }




    &__wordGroup {
        display: inline-block;
        width: 100px;
        position: relative;
        top: -82px;
    }

    .nextWord {
        position: absolute;
        left: 10px;

        // animation: 3s example;
        &--0 {
            top: 0;
        }

        &--1 {
            top: 25px;
        }

        &--2 {
            top: 50px;
        }
    }

    .animeSpan {
        position: relative;
        animation: 7s example alternate infinite;
        // pour cette insctruction il faut changer l'avant dernier 100% en 75% 
        //animation: 7s example  infinite;
    }

    @keyframes example {
        0% {
            top: 20px;
        }

        25% {
            top: 32px;
        }

        50% {
            top: 55px;
        }

        100% {
            top: 83px;
        }

        /*
        100% {
            top: 100px;
        }
*/
    }



    &__intro {
        color: white;
        font-size: 1.4rem;
        font-weight: 600;
        width: 80%;
        display: flex;
        overflow: hidden;

        &--orange {
            color: $color-primary-orange;
        }
    }
}