.allInfo {
    padding: 2rem;

    &__filterBtn {
        display: flex;
        justify-content: space-around;
        margin-bottom: 2rem;
        ;
    }

}

.allInfoQuestion {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 2rem;

    &__text {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    &__nb {
        position: relative;
        left: 20px;
        font-size: 1.5rem;
    }
}

.filterInfo {
    display: flex;
    justify-content: space-around;
    background-color: $color-primary-grey;
    border-radius: 10px;
    // on cache l'élément
    padding: 0;
    max-height: 0; 
    opacity: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
    &__filter {
        & p {
            font-weight: bold;
            font-size: 1.2rem;
            margin-bottom: 5px;
        }

        & ul {
            list-style: none;
        }

        & ul li:not(:last-child) {
            margin-bottom: 1rem;
        }

        & ul li>input {
            margin-right: 5px;
        }

        & ul li>label {
            position: relative;
            top: -3px;
        }
    }

    &__order {
        & p {
            font-weight: bold;
            font-size: 1.2rem;
            margin-bottom: 5px;
        }

        & ul {
            list-style: none;
        }

        & ul li:not(:last-child) {
            margin-bottom: 1rem;
        }

        & ul li>input {
            margin-right: 5px;
        }

        & ul li>label {
            position: relative;
            top: -3px;
        }
    }
}

.checkbox {
    display: none;
}

// quand on active la checkbox on modifie la class filterInfo
.checkbox:checked+.filterInfo {
  max-height: 300px;
  opacity: 1;
  transition: all 0.2s ease-out;
  padding: 1rem;
  
}