.button {
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    font-weight: 200;
    min-width: 5rem;

    @include respond(tab-port) {
        @include sizeFont;
    }

    &--blue {
        background-color: $color-primary-blue;
    }

    &--blueLight {
        background-color: $color-primary-blue-light;
    }

    &--orange {
        background-color: $color-primary-orange;
    }
}