.form {
    font-size: 1.4rem;
    position: relative;
    height: 40rem;
    width: 30rem;
    background-color: $color-nav-grey;
    margin: auto;

    padding: 2rem;
    border-radius: 3px;

    &--login {
        height: 22rem;
    }

    &__group {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        & input {
            border: none;
            border-bottom: 2px solid $color-primary-grey-darker;
            height: 2rem;
            margin-top: 1rem;
            border-radius: .5rem;
            padding: 1rem;
        }

        & button {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__error {
        font-size: 1.1rem;
        color: red;
    }
}