.nav {
    display: inline-block;
    width: 4rem;
    height: 3rem;
    background-color: $color-nav-grey;
    text-align: center;
    position: relative;

    @include respond(phone) {
        display: none;
    }

    &__menu {
        position: absolute;
        top: 1.35rem;
        left: 0.5rem;
        border-bottom: 2px solid black;
        width: 3rem;

        @include respond(phone) {
            display: none;
        }

        &::before {
            content: "";
            position: absolute;
            top: -.7rem;
            left: 0;
            border-bottom: 2px solid black;
            width: 3rem;
        }

        &::after {
            content: "";
            position: absolute;
            top: .7rem;
            left: 0;
            border-bottom: 2px solid black;
            width: 3rem;
        }
    }
}

.menu {
    position: absolute;
    width: 200px;
    background-color: white;
    z-index: 20;
    top: 60px;
    left: -215px;
    opacity: 0;
    text-align: left;
    padding: 1rem;
    border-radius: 3px;
    transition: all .5s;

    @include respond(phone) {
        opacity: 1;
        position: relative;
        left: 0;
        height: 20rem;
        width: 12rem;
        top: 0;
        font-size: 1.2rem;

    }

    @include respond(tab-port) {
        @include sizeFont;
    }


    &__public--orange,
    &__public--orange:visited,
    &__private--orange {
        color: $color-primary-blue-dark;
        border-bottom: 1px solid;
        font-weight: bold;
    }

    &__public--orange:hover,
    &__private--orange:hover {
        color: white;
    }

    &__public p,
    &__private p {
        color: $color-primary-blue-dark;
        font-weight: bold;
        font-size: 1.4rem;

        @include respond(tab-port) {
            @include sizeFont;
        }
    }

    &__public ul li a,
    &__private ul li a {
        list-style: none;
        position: relative;
        margin-top: 1.5rem;
        margin-bottom: 1.8rem;
        left: 12px;
    }


    &__public ul,
    &__private ul {
        list-style: none;
        margin-top: 1.5rem;
        margin-bottom: 1.8rem;
    }

    &__public ul li:not(:last-child),
    &__private ul li:not(:last-child) {

        margin-bottom: 1.4rem;
    }

    &__public ul li {
        transition: all 0.5s;
    }

    &__public ul li:hover,
    &__private ul li:hover,
    &__public ul li:focus,
    &__private ul li:focus {
        background-color: $color-primary-orange;
    }



}

.checkbox__menu {
    display: none;

}

.checkbox__menu:checked+.menu {
    opacity: 1;
    left: -28px;
    background-color: whitesmoke;
}


.search__group {
    position: absolute;
    z-index: 20;
    width: 29.2rem;
    height: 6.2rem;
    left: 2.9rem;
    top: -5rem;
    padding: 1rem;
    opacity: 0;
    transition: all .5s;

    @include respond(phone) {
        opacity: 1;
        position: initial;
        width: 80%;
    }

    @include respond(phone) {

        max-width: 50rem;
        margin: 0 auto;
    }




    &__detail {
        background-color: white;
        border-radius: 3px;

        @include respond(phone) {
            display: flex;
            justify-content: space-between;
            padding-top: 0.5rem;
            padding-bottom: .5rem;
            padding-right: 1rem;
        }

        & input {
            border: none;
            border-bottom: 1px solid grey;
            padding: 0.5rem;
            margin: .5rem;
            height: 26px;
            width: 80%;


        }

        & button {
            position: relative;
            top: -1px;
        }
    }
}

.checkbox__search {
    display: none;
}

.checkbox__search:checked+.search__group {
    opacity: 1;
    top: 6.7rem;
    transition: all .5s;
}

.menuMain {
    float: left;
}