.allQuestions {
    padding: 1rem 0;
    @include bgColorGeneral;
    height: calc(100vh - 12vh - 48vh);
    overflow-y: scroll;

    @include respond(tab-port) {
        height: calc(100vh - 12vh - 20vh);
    }
}

.questionGroup {
    padding: 1rem;
    margin: auto;
    width: 95%;
    height: 88px;
    background-color: #fff;
    border: 3px solid $color-dark-light;
    border-radius: 16px;
    position: relative;
    font-weight: bold;

    @include respond(tab-port) {
        height: 116px;
    }

    &__info p {
        display: inline-block;

    }

    &__info p:not(:last-child) {
        margin-right: 5px;
    }

    &__info {
        color: $color-primary-grey-darker;
    }

    &__question {
        color: $color-primary-blue-dark;
        font-size: 1.6rem;
        padding: 1rem;

        @include respond(tab-port) {
            font-size: 2.5rem;
        }


    }

    &__updateQuestion {
        position: absolute;
        left: 10px;
        color: $color-primary-grey-darker;
        bottom: 10px
    }

    &__updateQuestion p {
        display: inline-block;
    }

    &__user {
        font-size: 1.2rem;
        position: absolute;
        right: 10px;
        display: flex;

        @include respond(tab-port) {
            @include sizeFont;
        }
    }

    &__user p:first-child {
        margin-right: 5px;


    }

    &__user p:last-child {
        color: $color-primary-grey-darker;


    }
}

.questionGroup:not(:last-child) {
    margin-bottom: 2rem;
}

.showOneQuestion {
    float: left;
    width: 100%;

    @include respond(phone) {
        @include widhtMain;
        @include heightMain;
    }

    @include respond(tab-port) {
        @include sizeFont;
    }
}

.oneQuestion {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 3px solid $color-primary-grey-lighter;
    padding: 1rem;

    &__post {
        padding: 1rem;
    }

    &__post p:first-child {
        color: $color-primary-blue-dark;
        font-weight: bold;
        font-size: 1.6rem;

        @include respond(tab-port) {
            font-size: 2.5rem;
        }
    }

    &__post p:last-child {
        color: $color-primary-grey-darker;
        font-weight: bold;
        font-size: 1.1rem;
        margin-top: 5px;

        @include respond(tab-port) {
            @include sizeFont;
        }


    }

    &__ask {
        align-self: flex-end;
    }
}

.mainQuestion {
    display: flex;
    padding: 1rem;
    min-height: 52vh;
}

.leftPartQuestion {

    background: $color-nav-grey;
    padding: 1rem;
    margin-right: .8rem;

    &__vote {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.6rem;
        font-weight: bold;
    }

    &__vote p:first-child {
        margin-bottom: 10px;
    }

    &__vote p:last-child {
        margin-top: 10px;
    }
}

.rightPartQuestion {

    flex-grow: 2;


    &__description {
        font-size: 1.6rem;
        margin-bottom: 2rem;

        @include respond(tab-port) {
            font-size: 2rem;
        }
    }

    &__response {
        font-size: 1.2rem;
        margin-bottom: 2rem;

        @include respond(tab-port) {
            @include sizeFont;
        }

        &__group {
            min-height: 4rem;
        }

        &__group:not(:last-child) {
            margin-bottom: 2rem;
        }

        &__info {
            margin-top: 5px;
            color: $color-primary-blue;
        }
    }



    &__answer {
        background-color: $color-nav-grey;
        padding: 1rem;
        min-height: 227px;

        @include respond(tab-port) {
            min-height: 309px;
        }

    }

    &__answer p:first-child {
        font-size: 1.2rem;
        margin-bottom: 1rem;

        @include respond(tab-port) {
            font-size: 1.6rem;
        }
    }

    &__answer textarea {
        padding: 1rem;
        display: block;
        width: 100%;

        @include respond(tab-port) {
            font-size: 1.8rem;
        }
    }

    &__answer button {
        padding: 1rem;
        float: right;
    }
}