*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

}

body {
    box-sizing: border-box;
    border-right: 3px solid $color-primary-grey-lighter;
    border-left: 3px solid $color-primary-grey-lighter;
    height: 100vh;

    @include respond(tab-port) {
        max-width: 1200px;
        font-size: 1.6rem;
        margin: 0 auto;
    }

}

a {
    text-decoration: none;
}



a:visited {
    color: black;
}