*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.allInfo {
  padding: 2rem; }
  .allInfo__filterBtn {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem; }

.allInfoQuestion {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 2rem; }
  .allInfoQuestion__text {
    font-size: 3.5rem;
    margin-bottom: 1rem; }
  .allInfoQuestion__nb {
    position: relative;
    left: 20px;
    font-size: 1.5rem; }

.filterInfo {
  display: flex;
  justify-content: space-around;
  background-color: #EFECEC;
  border-radius: 10px;
  padding: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s ease-out; }
  .filterInfo__filter p {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px; }
  .filterInfo__filter ul {
    list-style: none; }
  .filterInfo__filter ul li:not(:last-child) {
    margin-bottom: 1rem; }
  .filterInfo__filter ul li > input {
    margin-right: 5px; }
  .filterInfo__filter ul li > label {
    position: relative;
    top: -3px; }
  .filterInfo__order p {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px; }
  .filterInfo__order ul {
    list-style: none; }
  .filterInfo__order ul li:not(:last-child) {
    margin-bottom: 1rem; }
  .filterInfo__order ul li > input {
    margin-right: 5px; }
  .filterInfo__order ul li > label {
    position: relative;
    top: -3px; }

.checkbox {
  display: none; }

.checkbox:checked + .filterInfo {
  max-height: 300px;
  opacity: 1;
  transition: all 0.2s ease-out;
  padding: 1rem; }

.button {
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: white;
  font-weight: 200;
  min-width: 5rem; }
  .button--blue {
    background-color: #2093D4; }
  .button--blueLight {
    background-color: rgba(0, 101, 157, 0.6); }
  .button--orange {
    background-color: #ff9839; }

.form {
  font-size: 1.4rem;
  position: relative;
  height: 36rem;
  width: 30rem;
  background-color: #D9D9D9;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  padding: 2rem;
  border-radius: 3px; }
  .form--login {
    height: 22rem; }
  .form__group {
    display: flex;
    flex-direction: column;
    padding: 1rem; }
    .form__group input {
      border: none;
      border-bottom: 2px solid #A4A4A4;
      height: 2rem;
      margin-top: 1rem;
      border-radius: .5rem; }
    .form__group button {
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
  .form__error {
    font-size: 1.1rem;
    color: red; }

.logo {
  color: #ff9839;
  display: inline-block; }

.nav {
  display: inline-block;
  width: 4rem;
  height: 3rem;
  background-color: #D9D9D9;
  text-align: center;
  position: relative; }
  .nav__menu {
    position: absolute;
    top: 1.35rem;
    left: 0.5rem;
    border-bottom: 2px solid black;
    width: 3rem; }
    .nav__menu::before {
      content: "";
      position: absolute;
      top: -.7rem;
      left: 0;
      border-bottom: 2px solid black;
      width: 3rem; }
    .nav__menu::after {
      content: "";
      position: absolute;
      top: .7rem;
      left: 0;
      border-bottom: 2px solid black;
      width: 3rem; }

.allQuestions {
  padding: 1rem 0; }

.questionGroup {
  padding: 1rem;
  margin: auto;
  width: 95%;
  height: 88px;
  background-color: #fff;
  border: 3px solid rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  position: relative;
  font-weight: bold; }
  .questionGroup__info p {
    display: inline-block; }
  .questionGroup__info p:not(:last-child) {
    margin-right: 5px; }
  .questionGroup__info {
    color: #A4A4A4; }
  .questionGroup__question {
    color: rgba(0, 101, 157, 0.87);
    font-size: 1.6rem;
    padding: 1rem; }
  .questionGroup__updateQuestion {
    position: absolute;
    left: 10px;
    color: #A4A4A4;
    bottom: 10px; }
  .questionGroup__updateQuestion p {
    display: inline-block; }
  .questionGroup__user {
    font-size: 1.2rem;
    position: absolute;
    right: 10px;
    display: flex; }
  .questionGroup__user p:first-child {
    margin-right: 5px; }
  .questionGroup__user p:last-child {
    color: #A4A4A4; }

.questionGroup:not(:last-child) {
  margin-bottom: 2rem; }

.header {
  background-color: #EFECEC;
  font-size: 1.2rem;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem; }
  .header__logo {
    color: #ff9839;
    display: inline-block; }

.main {
  height: 90vh;
  position: relative; }

.homeMain {
  background-color: #232629;
  height: 89.5vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .homeMain__choice {
    margin-top: 5rem;
    height: 40rem;
    width: 80%;
    display: block; }
  .homeMain__card {
    width: 100%;
    height: 16rem;
    text-align: center;
    font-size: 1.8rem;
    padding: 2rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .homeMain__card--orange {
      background-color: #fEE3CD; }
    .homeMain__card--blue {
      background-color: #CDE9FE; }
  .homeMain__intro {
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    width: 80%; }
    .homeMain__intro--orange {
      color: #ff9839; }
