/*
    0 - 600px : mobile
    600 - 900px : tablette portrait
    900 - 1200px : tablette paysage
    1200 - 1800px : desktop
    1800px + big desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  border-right: 3px solid #D8D6D6;
  border-left: 3px solid #D8D6D6;
  height: 100vh; }
  @media (min-width: 56.25em) {
    body {
      max-width: 1200px;
      font-size: 1.6rem;
      margin: 0 auto; } }

a {
  text-decoration: none; }

a,
a:visited {
  color: black; }

.allInfo {
  height: 48vh;
  background-color: white; }
  @media (min-width: 39em) {
    .allInfo {
      border-bottom: 3px solid #D8D6D6; } }
  @media (min-width: 56.25em) {
    .allInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 20vh; } }
  .allInfo__filterBtn {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem; }
    @media (min-width: 56.25em) {
      .allInfo__filterBtn {
        order: 3;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 1rem 5rem; } }
    @media (min-width: 56.25em) {
      .allInfo__filterBtn div:first-child {
        margin-top: 1rem; } }

.allInfoQuestion {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 2rem; }
  .allInfoQuestion__text {
    font-size: 3.5rem;
    margin-bottom: 1rem; }
  .allInfoQuestion__nb {
    position: relative;
    left: 20px;
    font-size: 1.5rem; }

.filterInfo {
  display: flex;
  justify-content: space-around;
  background-color: #EFECEC;
  border-radius: 10px;
  padding: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s ease-out; }
  @media (min-width: 56.25em) {
    .filterInfo {
      font-size: 1.4rem;
      position: absolute;
      left: calc((100% - 12rem)/2);
      transform: translateX(-10%);
      width: 252px; } }
  @media (min-width: 62.5em) {
    .filterInfo {
      width: 316px; } }
  @media (min-width: 56.25em) {
    .filterInfo__filter {
      padding: 1rem; } }
  .filterInfo__filter p {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px; }
  .filterInfo__filter ul {
    list-style: none; }
  .filterInfo__filter ul li:not(:last-child) {
    margin-bottom: 1rem; }
  .filterInfo__filter ul li > input {
    margin-right: 5px; }
  .filterInfo__filter ul li > label {
    position: relative;
    top: -3px; }
  .filterInfo__order p {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px; }
  .filterInfo__order ul {
    list-style: none; }
  .filterInfo__order ul li:not(:last-child) {
    margin-bottom: 1rem; }
  .filterInfo__order ul li > input {
    margin-right: 5px; }
  .filterInfo__order ul li > label {
    position: relative;
    top: -3px; }

.checkbox {
  display: none; }

.checkbox:checked + .filterInfo {
  max-height: 300px;
  opacity: 1;
  transition: all 0.2s ease-out;
  padding: 1rem; }

.button {
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: white;
  font-weight: 200;
  min-width: 5rem; }
  @media (min-width: 56.25em) {
    .button {
      font-size: 1.6rem; } }
  .button--blue {
    background-color: #2093D4; }
  .button--blueLight {
    background-color: rgba(0, 101, 157, 0.6); }
  .button--orange {
    background-color: #ff9839; }

.form {
  font-size: 1.4rem;
  position: relative;
  height: 40rem;
  width: 30rem;
  background-color: #D9D9D9;
  margin: auto;
  padding: 2rem;
  border-radius: 3px; }
  .form--login {
    height: 22rem; }
  .form__group {
    display: flex;
    flex-direction: column;
    padding: 1rem; }
    .form__group input {
      border: none;
      border-bottom: 2px solid #A4A4A4;
      height: 2rem;
      margin-top: 1rem;
      border-radius: .5rem;
      padding: 1rem; }
    .form__group button {
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
  .form__error {
    font-size: 1.1rem;
    color: red; }

.logo {
  color: #ff9839;
  display: inline-block; }

.nav {
  display: inline-block;
  width: 4rem;
  height: 3rem;
  background-color: #D9D9D9;
  text-align: center;
  position: relative; }
  @media (min-width: 39em) {
    .nav {
      display: none; } }
  .nav__menu {
    position: absolute;
    top: 1.35rem;
    left: 0.5rem;
    border-bottom: 2px solid black;
    width: 3rem; }
    @media (min-width: 39em) {
      .nav__menu {
        display: none; } }
    .nav__menu::before {
      content: "";
      position: absolute;
      top: -.7rem;
      left: 0;
      border-bottom: 2px solid black;
      width: 3rem; }
    .nav__menu::after {
      content: "";
      position: absolute;
      top: .7rem;
      left: 0;
      border-bottom: 2px solid black;
      width: 3rem; }

.menu {
  position: absolute;
  width: 200px;
  background-color: white;
  z-index: 20;
  top: 60px;
  left: -215px;
  opacity: 0;
  text-align: left;
  padding: 1rem;
  border-radius: 3px;
  transition: all .5s; }
  @media (min-width: 39em) {
    .menu {
      opacity: 1;
      position: relative;
      left: 0;
      height: 20rem;
      width: 12rem;
      top: 0;
      font-size: 1.2rem; } }
  @media (min-width: 56.25em) {
    .menu {
      font-size: 1.6rem; } }
  .menu__public p,
  .menu__private p {
    color: rgba(0, 101, 157, 0.87);
    font-weight: bold;
    font-size: 1.4rem; }
    @media (min-width: 56.25em) {
      .menu__public p,
      .menu__private p {
        font-size: 1.6rem; } }
  .menu__public ul,
  .menu__private ul {
    list-style: none;
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.8rem;
    left: 12px; }
  .menu__public ul li:not(:last-child),
  .menu__private ul li:not(:last-child) {
    margin-bottom: 1.4rem; }

.checkbox__menu {
  display: none; }

.checkbox__menu:checked + .menu {
  opacity: 1;
  left: -28px;
  background-color: whitesmoke; }

.search__group {
  position: absolute;
  z-index: 20;
  width: 29.2rem;
  height: 6.2rem;
  left: 2.9rem;
  top: -5rem;
  padding: 1rem;
  opacity: 0;
  transition: all .5s; }
  @media (min-width: 39em) {
    .search__group {
      opacity: 1;
      position: initial;
      width: 80%; } }
  @media (min-width: 39em) {
    .search__group {
      max-width: 50rem;
      margin: 0 auto; } }
  .search__group__detail {
    background-color: white;
    border-radius: 3px; }
    @media (min-width: 39em) {
      .search__group__detail {
        display: flex;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: .5rem;
        padding-right: 1rem; } }
    .search__group__detail input {
      border: none;
      border-bottom: 1px solid grey;
      padding: 0.5rem;
      margin: .5rem;
      height: 26px;
      width: 80%; }
    .search__group__detail button {
      position: relative;
      top: -1px; }

.checkbox__search {
  display: none; }

.checkbox__search:checked + .search__group {
  opacity: 1;
  top: 6.7rem;
  transition: all .5s; }

.menuMain {
  float: left; }

.postQuestion {
  padding: 1rem;
  min-height: 300px;
  height: calc(100vh - 12vh); }
  @media (min-width: 39em) {
    .postQuestion {
      width: calc(100% - 12rem);
      border-left: 3px solid #D8D6D6;
      float: left; } }
  .postQuestion__showText {
    font-size: 2.4rem;
    position: relative;
    left: 4rem;
    display: inline-block;
    margin-bottom: 2rem; }
  .postQuestion__contain {
    background-color: #D9D9D9;
    border-radius: 3px;
    padding: 3rem;
    font-size: 1.4rem;
    min-height: 364px; }
  .postQuestion__info {
    margin-bottom: 2rem; }
  .postQuestion__info p {
    margin-bottom: 0.5rem; }
  .postQuestion__info input {
    padding: .5rem;
    width: 100%;
    border: none;
    border-radius: 3px; }
  .postQuestion__description {
    position: relative;
    left: 1rem; }
  .postQuestion__description p {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    position: relative;
    left: 1rem; }
  .postQuestion__description textarea {
    position: relative;
    left: 2%;
    border: none;
    padding: 1rem;
    resize: none;
    border-radius: 3px;
    width: 96%; }

.allQuestions {
  padding: 1rem 0;
  background-color: white;
  height: calc(100vh - 12vh - 48vh);
  overflow-y: scroll; }
  @media (min-width: 56.25em) {
    .allQuestions {
      height: calc(100vh - 12vh - 20vh); } }

.questionGroup {
  padding: 1rem;
  margin: auto;
  width: 95%;
  height: 88px;
  background-color: #fff;
  border: 3px solid rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  position: relative;
  font-weight: bold; }
  @media (min-width: 56.25em) {
    .questionGroup {
      height: 116px; } }
  .questionGroup__info p {
    display: inline-block; }
  .questionGroup__info p:not(:last-child) {
    margin-right: 5px; }
  .questionGroup__info {
    color: #A4A4A4; }
  .questionGroup__question {
    color: rgba(0, 101, 157, 0.87);
    font-size: 1.6rem;
    padding: 1rem; }
    @media (min-width: 56.25em) {
      .questionGroup__question {
        font-size: 2.5rem; } }
  .questionGroup__updateQuestion {
    position: absolute;
    left: 10px;
    color: #A4A4A4;
    bottom: 10px; }
  .questionGroup__updateQuestion p {
    display: inline-block; }
  .questionGroup__user {
    font-size: 1.2rem;
    position: absolute;
    right: 10px;
    display: flex; }
    @media (min-width: 56.25em) {
      .questionGroup__user {
        font-size: 1.6rem; } }
  .questionGroup__user p:first-child {
    margin-right: 5px; }
  .questionGroup__user p:last-child {
    color: #A4A4A4; }

.questionGroup:not(:last-child) {
  margin-bottom: 2rem; }

.showOneQuestion {
  float: left;
  width: 100%; }
  @media (min-width: 39em) {
    .showOneQuestion {
      width: calc(100% - 12rem);
      border-left: 3px solid #D8D6D6;
      height: calc(100vh - 12vh); } }
  @media (min-width: 56.25em) {
    .showOneQuestion {
      font-size: 1.6rem; } }

.oneQuestion {
  display: flex;
  flex-direction: column-reverse;
  border-bottom: 3px solid #D8D6D6;
  padding: 1rem; }
  .oneQuestion__post {
    padding: 1rem; }
  .oneQuestion__post p:first-child {
    color: rgba(0, 101, 157, 0.87);
    font-weight: bold;
    font-size: 1.6rem; }
    @media (min-width: 56.25em) {
      .oneQuestion__post p:first-child {
        font-size: 2.5rem; } }
  .oneQuestion__post p:last-child {
    color: #A4A4A4;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 5px; }
    @media (min-width: 56.25em) {
      .oneQuestion__post p:last-child {
        font-size: 1.6rem; } }
  .oneQuestion__ask {
    align-self: flex-end; }

.mainQuestion {
  display: flex;
  padding: 1rem;
  min-height: 52vh; }

.leftPartQuestion {
  background: #D9D9D9;
  padding: 1rem;
  margin-right: .8rem; }
  .leftPartQuestion__vote {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold; }
  .leftPartQuestion__vote p:first-child {
    margin-bottom: 10px; }
  .leftPartQuestion__vote p:last-child {
    margin-top: 10px; }

.rightPartQuestion {
  flex-grow: 2; }
  .rightPartQuestion__description {
    font-size: 1.6rem;
    margin-bottom: 2rem; }
    @media (min-width: 56.25em) {
      .rightPartQuestion__description {
        font-size: 2rem; } }
  .rightPartQuestion__response {
    font-size: 1.2rem;
    margin-bottom: 2rem; }
    @media (min-width: 56.25em) {
      .rightPartQuestion__response {
        font-size: 1.6rem; } }
    .rightPartQuestion__response__group {
      min-height: 4rem; }
    .rightPartQuestion__response__group:not(:last-child) {
      margin-bottom: 2rem; }
    .rightPartQuestion__response__info {
      margin-top: 5px;
      color: #2093D4; }
  .rightPartQuestion__answer {
    background-color: #D9D9D9;
    padding: 1rem;
    min-height: 227px; }
    @media (min-width: 56.25em) {
      .rightPartQuestion__answer {
        min-height: 309px; } }
  .rightPartQuestion__answer p:first-child {
    font-size: 1.2rem;
    margin-bottom: 1rem; }
    @media (min-width: 56.25em) {
      .rightPartQuestion__answer p:first-child {
        font-size: 1.6rem; } }
  .rightPartQuestion__answer textarea {
    padding: 1rem;
    display: block;
    width: 100%; }
    @media (min-width: 56.25em) {
      .rightPartQuestion__answer textarea {
        font-size: 1.8rem; } }
  .rightPartQuestion__answer button {
    padding: 1rem;
    float: right; }

.arrowUp {
  display: inline-block;
  height: 0;
  width: 0;
  border-right: 12px solid transparent;
  border-bottom: 23px solid rgba(0, 0, 0, 0.25);
  border-left: 13px solid transparent; }

.arrowDown {
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 23px solid rgba(0, 0, 0, 0.25);
  border-right: 13px solid transparent;
  border-left: 12px solid transparent; }

.allUserGroupe {
  padding: 1rem;
  float: left;
  height: calc(100vh - 12vh); }
  @media (min-width: 39em) {
    .allUserGroupe {
      width: calc(100% - 12rem);
      border-left: 3px solid #D8D6D6; } }

.allUser {
  display: flex; }

.cardUser {
  background-color: #EFECEC;
  margin: 1rem;
  border-radius: 3px;
  width: 140px;
  height: 181px; }
  .cardUser__img {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 101, 157, 0.6); }
  .cardUser__img img {
    padding: 1rem;
    width: 90px; }
  .cardUser__profil {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative; }
  .cardUser__profil p:first-child {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center; }
  .cardUser__profil p:last-child {
    position: absolute;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    top: 4.2rem;
    left: 2.2rem; }

.user__info {
  padding: 2rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: center; }
  @media (min-width: 39em) {
    .user__info {
      width: calc(100% - 12rem);
      border-left: 3px solid #D8D6D6;
      height: calc(100vh - 12vh);
      border-left: 3px solid #D8D6D6; } }

.compte__label,
.email__label,
.pseudo__label,
.image__label,
.imageUpdate__label {
  font-weight: bold;
  margin-bottom: 1rem; }

.compte__data,
.email__data,
.pseudo__data,
.image__data {
  position: relative;
  left: 2rem; }

.compte,
.email,
.pseudo,
.image {
  margin-bottom: 2rem; }

.userImg {
  width: 90px; }

.updateBtn {
  margin-top: 5px; }

.header {
  background-color: #EFECEC;
  font-size: 1.2rem;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem; }
  @media (min-width: 39em) {
    .header {
      display: grid;
      grid-template-columns: [logo] 100px [search] 1fr [btn1] 70px [btn2] 70px;
      padding: 0 1rem;
      height: 12vh; } }
  @media (min-width: 56.25em) {
    .header {
      font-size: 1.6rem; } }
  .header__logo {
    color: #ff9839;
    display: inline-block; }
  @media (min-width: 39em) {
    .header__search label {
      display: none; } }
  @media (min-width: 39em) {
    .header__search {
      width: 100%;
      grid-column-start: 2;
      justify-self: center; } }

.main {
  height: 90vh;
  position: relative; }
  @media (min-width: 39em) {
    .main {
      float: left;
      width: calc(100% - 12rem);
      height: auto;
      border-left: 3px solid #D8D6D6; } }

.mainLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 12vh); }
  @media (min-width: 39em) {
    .mainLogin {
      width: calc(100% - 12rem);
      border-left: 3px solid #D8D6D6; } }

.homeMain {
  background-color: #232629;
  height: 89.5vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .homeMain__choice {
    margin-top: 5rem;
    height: 40rem;
    width: 80%;
    display: block; }
  .homeMain__card {
    width: 100%;
    height: 16rem;
    text-align: center;
    font-size: 1.8rem;
    padding: 2rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .homeMain__card--orange {
      background-color: #fEE3CD; }
    .homeMain__card--blue {
      background-color: #CDE9FE; }
  .homeMain__intro {
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    width: 80%; }
    .homeMain__intro--orange {
      color: #ff9839; }

.mt-xsmall {
  margin-top: 0.3rem; }

.mt-small {
  margin-top: 0.7rem; }

.mt-medium {
  margin-top: 1.1rem; }

.mt-big {
  margin-top: 1.5rem; }

.mt-xbig {
  margin-top: 2rem; }

.mb-xsmall {
  margin-bottom: 0.3rem; }

.mb-small {
  margin-bottom: 0.7rem; }

.mb-medium {
  margin-bottom: 1.1rem; }

.mb-big {
  margin-bottom: 1.5rem; }

.mb-xbig {
  margin-bottom: 2rem; }
