// COLORS
$color-primary-orange : #ff9839;
$color-secondary-orange : #fEE3CD;
$color-primary-blue : #2093D4;
$color-primary-blue-light : rgba(0, 101, 157, .6);
$color-primary-blue-dark : rgba(0, 101, 157, .87);
$color-secondary-blue : #CDE9FE;
$color-primary-grey : #EFECEC;
$color-primary-grey-lighter : #D8D6D6;
$color-primary-grey-darker : #A4A4A4;
$color-nav-grey : #D9D9D9