.mt-xsmall {
    margin-top: 0.3rem;
}

.mt-small {
    margin-top: 0.7rem;
}

.mt-medium {
    margin-top: 1.1rem;
}

.mt-big {
    margin-top: 1.5rem;
}

.mt-xbig {
    margin-top: 2rem;
}

.mb-xsmall {
    margin-bottom: 0.3rem;
}

.mb-small {
    margin-bottom: 0.7rem;
}

.mb-medium {
    margin-bottom: 1.1rem;
}

.mb-big {
    margin-bottom: 1.5rem;
}

.mb-xbig {
    margin-bottom: 2rem;
}